@media (min-width: 768px) {
  header {
    padding: 30px 0;
    border-bottom: 1px solid brown;
  }

  header a:first-child {
    margin: 0;
  }

  header .logo-wrapper {
    text-align: left;
  }

  header .logo {
    height: 40px;
  }

  header .links-wrapper {
    display: block;
    align-self: flex-end;
  }

  header .hamburger-menu-wrapper {
    display: none;
  }

  main {
    padding-top: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    max-width: 1200px;
  }

  .divider {
    width: 180px;
    margin: 100px auto 50px auto;
  }

  .hero {
    height: 600px;
    margin-bottom: 50px;
  }

  .content {
    padding: 0 50px;
  }

  .showcase-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 100px 0 100px;
  }

  .showcase-item {
    width: 300px;
    margin: 0;
  }

  .jobs-intro {
    flex-direction: row;
    padding: 0 20px;
  }

  .jobs-intro-links {
    text-align: left;
    margin-left: 50px;
  }

  .jobs-intro-links h2 {
    margin-top: 0;
  }

  .job-photos-wrapper .job-photo:first-child img {
    max-height: 260px;
  }

  .job-photos-wrapper {
    display: block;
    max-width: 400px;
    height: 200px;
  }

  .job-photos-wrapper {
    display: grid;
    grid-template-columns: 300px 150px;
    grid-template-rows: 50% 50%;
    max-width: 450px;
    height: 260px;
  }

  .job-photos-wrapper .job-photo:not(:first-child) {
    display: block;
  }

  .jobs-intro button {
    margin: 0;
  }

  .newsletter-wrapper {
    margin-top: 80px;
  }

  .newsletter-wrapper h2 {
    font-size: 2.5em;
    margin: 10px 0;
  }

  .newsletter-wrapper form input[type="text"] {
    margin-bottom: 0;
  }

  footer {
    padding: 0 100px;
    width: calc(100% - 200px);
    height: 150px;
    margin-bottom: 100px;
    display: grid;
    align-items: start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 4fr 3fr 3fr 4fr;
    grid-template-rows: 2fr 4fr;
    text-align: left;
  }

  footer .top-row {
    margin-top: 0;
    text-decoration: none;
  }

  footer .one,
  footer .two,
  footer .three,
  footer .four,
  footer .five,
  footer .six,
  footer .seven,
  footer .eight {
    order: 0;    
  }
}

@media (max-width: 850px) {
  header {
    padding: 30px 30px;
  }
}